.main {
    @extend %margin-bottom-lg;

    .site-search {
        margin-bottom: $gap * 3;
    }

    .user-login {
        margin-bottom: $gap * 4;
    }
}

.new-films {
    position: relative;
    overflow: hidden;

    &-row {
        margin-left: -$gap/2;
        margin-right: -$gap/2;
        margin-bottom: -$gap;
    }
    &-item {
        padding-right: $gap/2;
        padding-left: $gap/2;
        margin-bottom: $gap;

        &__thumbnail {
            margin-bottom: 0;
        }

        &__title{
            margin: 0;
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            @include text-shortener;
        }

        &__image{
            max-width: 100%;
        }
    }

    &-title {
        
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            margin: 0.85em 0 0 $gap;
            border-bottom: 3px solid lighten($color-accent, 30%);
        }
    }

}
