.film-info {
    position: relative;
    overflow: hidden;
    font-size: 1.2em;
    
    &-row {
        margin-left: -$gap/2;
        margin-right: -$gap/2;
        margin-bottom: -$gap;
    }
    &__title {
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            margin: 0.85em 0 0 $gap;
            border-bottom: 3px solid lighten($color-accent, 30%);
        }
    }

    &__wrapper{
        white-space: nowrap;
    }

    &__well {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .embed-responsive {
        border: 1px solid $color-gray;
        border-bottom: none;
        border-radius: 4px 4px 0 0;
    }

    .well {
        border-color: #dddddd;
        background-color: #f1f1f1;
    }

    &__badge {
        font-size: 0.8em;
    }

    &__wrapper:not(:last-of-type){
        margin-right: $gap;
    }
}

.film-comment-form,
.film-comments,
.film-description {
    position: relative;
    overflow: hidden;

    & h2 {
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            margin: 0.85em 0 0 $gap;
            border-bottom: 3px solid lighten($color-accent, 30%);
        }

        &::before {
            position: absolute;
            content: "";
            left: 0;
            width: 30px;
            margin: 0.25em 0 0 0;
            border-bottom: 3px solid lighten($color-accent, 30%);
        }
    }
}

.film-comment-form{
    &__button{
        float: right;
    }
}
